*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p{
    color: white;
    text-align: center;
    padding: 0;
}

h2#header{
    margin-top: 20px;
    color: white;
    text-align: center;
    text-shadow:5px 3px red;
}

#main{
    float: left;
    width: 750px;
    height: 600px;
    margin: 25px 0 0 50px ;


}

#module_one{
    width: 401.5px;
    height: 100px;

    background-color: #EEA2A4;
    border-radius: 35px;
    color: white;
    font-size: 30px;
    padding-top: 10px;
}
#module1_sign{
    margin-top: 15px;
}

#module_one ul{list-style-type: none}
/*这是隐藏的歌单列表*/
#module_one div{
    display: none;
    width: 400px;
    height: 280px;
    overflow: auto;

    margin-top: 20px;
    background-color: #EEA2A4;

    position: absolute;
    z-index: 12;
}

#module_one a{
    text-decoration: none;
    margin-left: 60px;
    color: white;
    line-height: 70px;
}
#module_one:hover{
    border-radius: 35px 35px 0 0 ;
}
#module_one:hover div{
    display: block;
}
#module_one li:hover{
    background-color: darkgrey;
}





#module_two{
    width: 100%;
    max-width: 800px;
    height: 480px;
    background-color:#EEA2A4;

    margin-top: 20px;
    margin-right: 0;
    border-radius: 30px;

    border: 1px solid black;
}

#player{
    float: left;
    width: 350px;
    height: 380px;
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /*图片居中*/
    justify-content: center;
    align-items: center;
}
#image_background{
    width: 300px;
    height: 300px;

    z-index: 9;
}
#image_music{
    width: 230px;
    height: 230px;
    border-radius: 50%;

    position: absolute;
    z-index: 10;

    animation: picture_run 10s linear infinite normal;
    animation-play-state: paused;
}
@keyframes picture_run {
    to{
        transform: rotate( 360deg );
    }
}



#all_botton{
    float: right;
    width: 390px;
    height: 380px;

    position: relative;
    left: -15px;
}

#botton_top{
    width: 390px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#previous{
    width: 125px;
    height: 150px;
}
#pause_play{
    width: 140px;
    height: 170px;
}
#next{
    width: 125px;
    height: 150px;
}
#botton_bottom{
    height: 100px;

    display: flex;
    justify-content: space-between;
}
.botton_bottom{
    width: 90px;
    height: 100%;
}
#link{
    width: 80px;
    height: 80px;

    position: relative;
    top:5px;
}
#player_song_name{
    margin-top: 30px;
    font-size: 25px;
    text-align: left;
}

#player_line_box{
    position: absolute;
    top: 630px;
    left: 120px;
}

#player_line{
    width: 600px;
    height: 25px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 35px;
    cursor: pointer;
}
#playhead{
    width: 23px;
    height: 23px;
    margin-left: 0;

    border-radius: 50%;
    background-color: rgba(0,0,0,1);
}
#playhead:hover{
    box-shadow: 0 0 10px darkgrey;
}
#tooltip{
    text-align: center;
    background-color: snow;
    width: 40px;
    margin-top: -48px;
    margin-left: -10px;
    visibility: hidden;
}
#played{
    background-color: rgba(0,0,0,0.6);
    border-radius: 35px 0 0 35px;
    width: 0px;
    height: 25px;
    position: absolute;

}
#player_line:hover #tooltip{
    visibility: visible;
}
#now_time{
    float: left;
    margin-left: 10px;
}
#total_time{
    float: right;
}



#module_three{
    float: right;

    width: 600px;
    height: 600px;
    margin-right: 60px;
    margin-top: 25px;
    border-radius: 30px;
    background-color: #EEA2A4;

    padding: 25px;
}
#module3_sign{
    text-align: center;
    width: 100%;
    height: 20%;
    color: white;
    font-size: 30px;
    line-height: 100px;

}
#song_words{
    width: 103%;
    height: 80%;

    font-size: 25px;
    line-height: 40px;
    letter-spacing: 8px;
    overflow: auto;
}
